/*--
	Header Start 
--*/

header{
	background: #fff;
	padding: 20px 0;
	.navbar{
		margin-bottom: 0px;
		border: 0px;
	}
	.navbar-brand {
		padding-top: 5px;
	}
	.navbar-brand>img{
		float: left;
		position: fixed;
		left:0;
		top:-35px;
		right: unset;
	}
	.navbar-default{
		background: none;
		border: 0px;
		.navbar-nav{
			  padding-top: 10px;
			li{
			  a{
			  	color: #333333;
			  	padding: 10px 26px;
			  	font-size: 15px;
			  	font
			  	&:hover{
			  		color: #000;
			  	}
			  }
			}
		}
	}
	:lang(ar) .navbar-nav > li {
		float: right;
	}
	:lang(ar) .navbar-brand>img{
		float: right;
		left: unset;
		right: 0;
	}
	:lang(ar) .navbar-nav{
		float: left!important;	}
}
